<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KuGuanXiTong.Properties.Settings.EnergyEquipmentProjectConnectionString"
            connectionString="Data Source=115.24.161.31;Initial Catalog=EnergyEquipmentProject"
            providerName="System.Data.SqlClient" />
        <add name="KuGuanXiTong.Properties.Settings.EnergyEquipmentProjectConnectionString1"
            connectionString="Data Source=115.24.161.31;Initial Catalog=EnergyEquipmentProject;Integrated Security=False;Persist Security Info=True;User ID=sa;Context Connection=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>